@media screen and (max-width: 480px) {
  body {
    max-width: 95%;
    font-size: 100%;
  }
}

@media screen and (min-width: 480px) {
  body {
    max-width: 80%;
  }
}

@media screen and (min-width: 550px) {
  body {
    font-size: 110%;
  }
  body .intro {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1000px) {
  body {
    max-width: 850px;
  }
  body header {
    flex-direction: row;
  }
  body .papers {
    flex-direction: row;
  }
}

body {
  font-family: 'Book Antiqua', serif;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em
}

* a {
  text-decoration: none;
}

* a:hover {
  text-decoration: underline;
}

* a:focus {
  outline: none;
}

h1, h2, h3, h4 {
  font-family: 'Book Antiqua', serif;
  font-weight: lighter;
}

p {
  font-family: 'Book Antiqua', serif;
}

ul {
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
  margin: 10px 0;
}

ol {
  padding-left: 1em;
}

ol li {
  padding-left: 0.5em;
}

ol li ol li {
  list-style-type: lower-alpha;
}

.classplan table {
  text-align: left;
  border-collapse: collapse;
}

.classplan table th, .classplan table td {
  padding: 0.5em;
  border-top: 0.1em solid;
  border-bottom: 0.1em solid;
}

.papers {
  padding: 0em;
  margin: 0em;
  border-top: dotted 0.05em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.papers content {
  flex-basis: 80%;
  margin: 0.8em 0em;
}

.papers>content>p {
  padding: 0em;
  margin: 0em 0em;
  text-align: left;
  font-weight: bold;
}

.papers>content>details>summary {
  padding: 0em;
  margin: 0em 0em;
  text-align: left;
  font-weight: bold;
}

.papers>content>details>summary>em {
  font-size: 95%;
  font-weight: normal;
}

details summary::marker,
:is(::-webkit-details-marker) {
  content: "▸";
  font-weight: bold;
}

details[open] summary::marker {
  content: "▾";
}

.papers>content>em {
  font-size: 95%;
}

.papers abstract>p {
  font-size: 80%;
  margin-block-start: 0.25em;
  margin-block-end: 0em;
  text-align: justify;
}

.papers abstract abstractTit {
  font-weight: bold;
  font-size: 90%;
}

links {
  margin-top: 0.8em;
  text-align: right;
}

.papers links a {
  font-size: 93%;
}

.bibliography table {
  text-align: left;
  border-collapse: collapse;
}

.bibliography table th, .bibliography table td {
  padding: 0.5em;
}

.infotable table {
  padding-top: 0.5em;
  border-collapse: collapse;
}

.infotable table th, .infotable table td {
  padding: 0.1em 0.5em;
}

.infotable table td:first-child {
  font-weight: bold;
  text-align: right;
}

.bibliography table td:last-child, footer {
  font-size: 80%;
}

header {
  font-family: 'Book Antiqua', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0em;
  margin-bottom: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

header h1 {
  font-family: 'Book Antiqua', serif;
  text-align: center;
  margin: 0em;
}

header h2 {
  font-family: 'Book Antiqua', serif;
  text-align: center;
  margin: 0em;
}

header img {
  float: right;
  height: 70px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  padding-left: 0em;
  margin: 0.5em 0em;
}

nav li {
  display: inline;
  list-style-type: none;
  margin: 0em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;
}

footer {
  right: 10px;
  bottom: 20px;
  border-top: 0.1em dotted;
  margin-top: 9em;
  padding-top: 0.3em;
  text-align: right
}

#mypicture {
  width: 10em;
}

@media screen and (min-width: 960px) {
  #mypicture {
    width: 15em;
  }
}

@media screen and (max-width: 480px) {
  #mypicture {
    margin-left: 0;
  }
}

.clearfix {
  float: none;
  clear: both;
}

* {
  color: #657b83;
}

body {
  background-color: #fdf6e3;
}

body ::-moz-selection {
  background-color: #cb4b16;
  color: #eee8d5;
}

body ::-selection {
  background-color: #cb4b16;
  color: #eee8d5;
}

a, a:active, a:visited {
  color: #268bd2;
}

code {
  color: #ba5e40;
  font-size: 110%
}

h1, h2, h3, h4, h5, h6 {
  color: #cb4b16;
}

h1 a, h1 a:active, h1 a:visited, h2 a, h2 a:active, h2 a:visited, h3 a, h3 a:active, h3 a:visited, h4 a, h4 a:active, h4 a:visited, h5 a, h5 a:active, h5 a:visited, h6 a, h6 a:active, h6 a:visited {
  color: #cb4b16;
}

table th, table td {
  color: #026234;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  background-color: #eee8d5;
  text-decoration: none;
}

header a, header a:active, header a:visited {
  color: #657b83;
}

header a.active {
  color: #cb4b16;
}

header a:hover {
  color: #cb4b16;
  background-color: #fdf6e3;
  text-decoration: none;
}

footer {
  color: #93a1a1;
  border-color: #93a1a1;
}

footer a, footer a:active, footer a:visited {
  color: #2aa198;
}

.papers ul {
  background: #eee8d5;
}

.bibliography table tbody>tr:nth-child(odd), .classplan table tbody>tr:nth-child(odd) {
  background: #eee8d5;
}

.infotable table {
  background: #eee8d5;
}

#mypicture {
  border-color: #93a1a1;
}

@media print {
  footer, nav {
    display: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  a:after {
    content: " '(' attr(href) ') '";
  }
  * {
    color: #000;
  }
  body {
    background-color: #fff;
  }
  body ::-moz-selection {
    background-color: #000;
    color: #fff;
  }
  body ::-selection {
    background-color: #000;
    color: #fff;
  }
  a, a:active, a:visited {
    color: #000;
  }
  code {
    color: #000;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #000;
  }
  h1 a, h1 a:active, h1 a:visited, h2 a, h2 a:active, h2 a:visited, h3 a, h3 a:active, h3 a:visited, h4 a, h4 a:active, h4 a:visited, h5 a, h5 a:active, h5 a:visited, h6 a, h6 a:active, h6 a:visited {
    color: #000;
  }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    background-color: #fff;
    text-decoration: none;
  }
  header a, header a:active, header a:visited {
    color: #000;
  }
  header a.active {
    color: #000;
  }
  header a:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
  }
  footer {
    color: #000;
    border-color: #000;
  }
  footer a, footer a:active, footer a:visited {
    color: #000;
  }
  .papers ul {
    background: #fff;
  }
  .bibliography table tbody>tr:nth-child(odd), .classplan table tbody>tr:nth-child(odd) {
    background: #fff;
  }
  .infotable table {
    background: #fff;
  }
  #mypicture {
    border-color: #000;
  }
}
